.green{
    background:#29AD4A;
}
.blue {
    background: #007BFF;
}
.red {
    background: #E8394A;
}
.text-color{
    color: white;
}
.dot-green{
    color:#29AD4A;
}
.dot-blue {
    color: #007BFF;
}
.dot-red {
    color: #E8394A;
}