.green {
  background-color: #29ad4a;
}
.blue {
  background-color: #007bff;
}
.red {
  background-color: #e8394a;
}
.text-color {
  color: white;
  width: 70%;
}
.dot-green {
  color: #29ad4a;
}
.dot-blue {
  color: #007bff;
}
.dot-red {
  color: #e8394a;
}
select {
  font-family: 'FontAwesome'
}
.list-group-item {
  border: none;
  border-bottom: 2px solid #333;
  border-radius: 0px;
  &:last-child{
    border-bottom: none;
  }
 
}
.hidden{
  display: none;
}


select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.flex--box {
  display: flex;
  .flex-item-1 {
    width: 30px;
  }
  .flex-item-2 {
    p {
      margin: 0px;
    }
  }
}
