    <div class="user--info">
        <h3>
            <fa [ngClass]="{ 'dot-green': usericon == 1,'dot-blue': usericon == 2,'dot-red': usericon == 3}" name="user"></fa> <span class="name"> User 1</span>
        </h3>
    </div>
    <!--     
    <div class="tasks-wrap">
        <a class="nav-link " [routerLink]="['/task']" routerLinkActive="active">Task</a>
        <a class="nav-link " [routerLink]="['/bugs']" routerLinkActive="active">Bugs</a>
        <a class="nav-link " [routerLink]="['/inprogress']" routerLinkActive="active">In Progress</a>
        <a class="nav-link " [routerLink]="['/completed']" routerLinkActive="active">Completed</a>
        <a class="nav-link " [routerLink]="['/not-started']" routerLinkActive="active">Not Started</a>
    </div> -->

    <ngb-tabset (click)="showContent()" class="user--tabs--container">
            <ngb-tab title="Tasks ({{taskCount}})">
                <ng-template [ngClass]="show" ngbTabContent>
                    <app-tasks (iconChangeEmitter)="updateValue($event)" (updateStatus)="onSubmit($event)"
                        [tasks]="contentTask" [initialState]=initialState [typeOf]=1 [userColor]=2 [dropDownValues]="contentDropdown"></app-tasks>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Bugs ({{bugsCount}}) ">
                <ng-template  ngbTabContent>
                    <app-tasks (iconChangeEmitter)="updateValue($event)" (updateStatus)="onSubmit($event)"
                        [tasks]="contentTask" [typeOf]=2 [userColor]=3 [dropDownValues]="contentDropdown"></app-tasks>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Completed ({{completedCount}})">
                <ng-template  ngbTabContent>
                    <app-completed (iconChangeEmitter)="updateValue($event)" (updateStatus)="onSubmit($event)"
                        [tasks]="contentTask" [typeOf]=1 [userColor]=1 [dropDownValues]="contentDropdown">
                    </app-completed>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="In progress ({{inProgressCount}})">
                <ng-template  ngbTabContent>
                    <app-completed (iconChangeEmitter)="updateValue($event)" (updateStatus)="onSubmit($event)"
                        [tasks]="contentTask" [typeOf]=2 [userColor]=2 [dropDownValues]="contentDropdown">
                    </app-completed>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Not Started ({{noStartedCount}})">
                <ng-template  ngbTabContent>
                    <app-completed (iconChangeEmitter)="updateValue($event)" (updateStatus)="onSubmit($event)"
                        [tasks]="contentTask" [typeOf]=3 [userColor]=3 [tasks]="contentTask"
                        [dropDownValues]="contentDropdown"></app-completed>
                </ng-template>
            </ngb-tab>  
    </ngb-tabset>

    <router-outlet></router-outlet>
<!-- </div> -->