.dot-green{
    color:#29AD4A;
}
.dot-blue {
    color: #007BFF;
}
.dot-red {
    color: #E8394A;
}

.tasks-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .nav-link {
       flex-grow: 2;
       text-align: center;
       flex-basis: 118px;
       box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5);
    }
    .active{
        background: #d0d0d0;
    }
   
}

