.green {
  background: #29ad4a;
}
.blue {
  background: #007bff;
}
.red {
  background: #e8394a;
}
.text-color {
  color: white;
  width: 70%;
}
.dot-green {
  color: #29ad4a;
}
.dot-blue {
  color: #007bff;
}
.dot-red {
  color: #e8394a;
}
.list-group-item {
  border: none;
  border-bottom: 2px solid #333;
  border-radius: 0px;
  &:last-child {
    border-bottom: none;
  }
}
.hidden{
  display: none;
}
.flex--box {
  display: flex;
  .flex-item-1 {
    width: 30px;
  }
  .flex-item-2 {
    p {
      margin: 0px;
    }
  }
}
