<ul class="list-group">
    <ng-container *ngFor="let task of tasks">
        <li *ngIf="task.status == typeOf" class="list-group-item">
            <div class="row">
                <div class="col-9">
                    <div class="flex--box">
                        <div class="flex-item-1">
                            <fa [ngClass]="{ 'dot-green': task.status == 1,'dot-blue': task.status == 2,'dot-red': task.status == 3}" name="circle"></fa>
                        </div>
                        <div class="flex-item-2">
                            <p>{{task?.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <select (change)="statusChange($event,task)" [ngClass]="{ 'green': task.status == 1,'blue': task.status == 2,'red': task.status == 3}"  class="custom-select text-color">
                        <!-- <option>{{task?.status}}</option> -->
                        <option *ngFor="let status of dropDownValues" [selected]="status.id == task.status"
                            [value]=status.id>{{status.name}}</option>
                    </select>
                </div>
            </div>
        </li>
    </ng-container>
</ul>